###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_me_in_production_use_a_strong_random_string_32_chars_minimum
# Trust proxies (Caddy)
TRUSTED_PROXIES=127.0.0.1,REMOTE_ADDR
TRUSTED_HOSTS=localhost,127.0.0.1

###> symfony/routing ###
DEFAULT_URI=http://localhost
###< symfony/routing ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5433/ams-apps-hub?serverVersion=16&charset=utf8"

# Choose one of the transports below
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'

###> JWT Authentication ###
JWT_SECRET=change_this_secret_key_in_production_please_use_a_strong_random_string

###> AMS API Integration ###
AMS_API_URL=http://api.example.com
AMS_API_DB=APP_NAME
AMS_API_USER=api_user
AMS_API_PASSWORD=api_password
